.App {
  text-align: center;
  background-color: #000;
}

.map {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #000;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  padding-top: 10px;
  color: #fff;
}

.sidebar {
  float: left;
  width: 200px;
  height: 90vh;
  background-color: #000;
  color: #fff;
  padding: 0 20px 0 20px;
  margin: 50px 0 0 0;
  display: none;
}

.sidebar ul, .sidebarList {
}

.sidebar li {
  list-style-type: none;
  text-align: left;
  background-color: #222;
  padding: 15px 0 15px 10px;
  margin: 5px 0 5px 0;
  font-size: 15pt;
  cursor: pointer;
}

.sidebar input {
  width: 100%;
  height: 30px;
}

header i {
  float: left;
  color: #fff;
  font-size: 1.5em;
  padding: 10px;
  cursor: pointer;
}

.close {
  display: none;
}

.open {
  display: block;
}

/* MOBILE STYLES */

@media screen and (max-width: 740px) {
  .sidebar {
    width: 150px;
  }

  h1 {
    font-size: 16pt;
    padding: 12px 20px 0 0;
  }

  .sidebar li {
    font-size: 12pt;
    background-color: #222;
    padding: 15px 0 15px 10px;
    margin: 3px 0 3px 0;
  }

  .infoWindow {
    width: 150px;
    padding: 5px;
  }

}

/* TABLET STYLES */

@media screen and (min-width: 741px) and (max-width: 1000px) {
  header {
    height: 100px;
  }

  header i {
    font-size: 3em;
    padding: 25px 0 0 30px;
  }

  h1 {
    margin:0 60px 0 0;
    font-size: 2.5em;
    padding-top: 25px;
  }

  .sidebar {
    margin: 100px 0 0 0;
    height: 90vh;
    overflow: scroll;
  }

  .sidebar li {
    font-size: 20pt;
    background-color: #222;
    margin: 5px 0 5px 0;
    overflow: scroll;
  }

  .sidebar input {
    height: 50px;
    font-size: 17pt;
  }

  .infoWindow h3 {
    font-size: 17pt;
  }

  .infoWindow-address, .infoWindow{
    font-size: 15pt;
    width: 200px;
  }

}
